<%= form_with(model: projectsite, local: true) do |form| %>
  <% if projectsite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(projectsite.errors.count, "error") %> prohibited this projectsite from being saved:</h2>

      <ul>
      <% projectsite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :level %>
    <%= form.number_field :level %>
  </div>

  <div class="field">
    <%= form.label :group_id %>
    <%= form.number_field :group_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class=”field”>
   <%= form.label :worksite %>
   <%= form.file_field :worksite %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
