<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :year_start %>
    <%= form.select(:year_start) do %>
      <% [['2016', 2016], ['2017', 2017], ['2018', 2018], ['2019', 2019] ].each do |c| -%>
        <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :year_end %>
    <%= form.select(:year_end) do %>
      <% [['2020', 2020], ['2021', 2021], ['2022', 2022], ['2023', 2023] ].each do |c| -%>
        <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :level_quantity %>
    <%= form.select(:level_quantity) do %>
      <% [['1', 1], ['2', 2], ['3', 3], ['4', 4] ].each do |c| -%>
        <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :kind %>
    <%= form.text_field :kind %>
  </div>

  <div class="field">
     <%= form.label :groupcover %>
     <%= form.file_field :groupcover %>
   </div>


  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
