<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
    <%= form.label "Начало обучения" %>
    <%= form.select :year_start, options_for_select([["2016"], ["2017"], ["2018"], ["2019"]]) %>
 </div>

  <div class="field">
    <%= form.label "Конец обучения" %>
    <%= form.select :year_end, options_for_select([["2020"], ["2021"], ["2022"], ["2023"]])%>
  </div>

  <div class="field">
    <%= form.label "Название группы" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
   <%= form.label "Курс" %>
   <%= form.select :level_quantity, options_for_select([["1"], ["2"], ["3"], ["4"]])%>
  </div>

  <div class="field">
    <%= form.label "Описание" %>
    <%= form.text_field :kind %>

  </div>

  <div class="field">
   <%= form.label "Обложка группы" %>
   <%= form.file_field :groupcover %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
