<h1>Группы</h1>

<div class="actions">
  <% if user_signed_in? %>
    <%= link_to 'Создать группу', new_group_path, class: 'btn btn-dark btn-lg'  %>
  <% end %>
</div>

<div class="album text-muted">
   <div class="container">
      <div class="row">
         <% @groups.each do |group| %>
         <div class="card">

            <strong class="card-text"><%= group.name %></strong>
            <p class="card-text"><%= group.year_start %></p>
            <p class="card-text"><%= group.year_end %></p>
         </div>
         <% end %>
      </div>

   </div>
</div>




<h1>Groups</h1>

<table>
  <thead>
    <tr>
      <th>Cover</th>
      <th>Year start</th>
      <th>Year end</th>
      <th>Name</th>
      <th>Level quantity</th>
      <th>Cover</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.year_start %></td>
        <td><%= group.year_end %></td>
        <td><%= group.name %></td>
        <td><%= group.level_quantity %></td>
        <td><%= group.groupcover %></td>
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path %>
