
<div class="card col-6 mr-auto ml-auto mt-5 mb-5">
  <div class="card-body">
    <% if notice != nil %>
      <p class="alert alert-primary" id="notice"><%= notice %></p>
    <% end %>

    <h5 class="card-title">О группе</h5>

    <p>
      Начало обучения:
      <%= @group.year_start %>
    </p>

    <p>
      Конец обучения:
      <%= @group.year_end %>
    </p>

    <p>
      Название группы:
      <%= @group.name %>
    </p>

    <p>
      Описание:
      <%= @group.kind %>
    </p>



    <p>
      Обложка группы:
      <%= @group.groupcover %>
    </p>

    <div class="d-flex justify-content-between mt-4 mb-3">
      <%= link_to 'Назад', groups_path, :class => 'btn btn-outline-primary' %>
      <div class="actions">
        <%= link_to 'Редактировать', edit_group_path(@group), :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
