<%= form_with(model: project, local: true) do |form| %>

    <div class="container">
      <div class="row">
            <div class="well span4 offset4">

              <div class="card">
              <form>

                <div class="">
                  <h1>Добавить проект</h1>
                </div>

              <div class="field form-group">
                <%= form.label "Студенческий проект" %>
                <%= link_to "+", new_projectportfolio_path, class: "nav-link" %>
              </div>

              <div class="field form-group">
                <%= form.label "Behance" %>
                <%= link_to "+", new_projectbehance_path, class: "nav-link" %>
              </div>

              <div class="field form-group">
                <%= form.label "Персональный сайт" %>
                <%= link_to "+", new_projectsite_path, class: "nav-link" %>
              </div>

                <div class="d-flex justify-content-between mt-4 mb-5">

                    <div class="actions">
                      <%= link_to 'Все проекты', projects_path, :class => 'btn btn-light btn-lg' %>
                    </div>

                </div>
                </form>
              </div>
            </div>
          </div>
        </div>

<% end %>
