<%= form_with(model: project, local: true) do |form| %>

  <!-- <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class=”field”>
	  <%= form.label :work %>
	  <%= form.file_field :work, :multipart => true  %>
  </div>

 <div class=”field”>
 	  <%= form.label :workcover %>
 	  <%= form.file_field :workcover %>
  </div> -->

  <div class="dropdown-menu">
    <h1 class="dropdown-header">Добавить проект</h1>

    <a class="dropdown-item" href="/projectportfolios/new"(.:format)>Студенческий проект</a>
    <a class="dropdown-item" href="/projectbehances/new"(.:format)>Behance</a>
    <a class="dropdown-item" href="/projectsites/new"(.:format)>Персональный сайт</a>
  </div>

  <!-- <div class="actions">
    <%= form.submit %>
  </div> -->
<% end %>
