
<<<<<<< HEAD
<h1>Проекты</h1>

<table>
  <thead>
    <tr>
      <!-- <th>Добавить проект</th>
      <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= link_to 'projects' do %>
           <%= image_tag(project.workcover_url(:thumb).to_s) %>
          <% end %>
        </td>
        <!-- <td><%= image_tag(project.work_url(:thumb).to_s) %></td> -->
       <td><%= link_to 'Show', project %></td>
        <!-- <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
=======

  <h1 class="my-auto">Проекты</h1>
  <div class="actions">
    <% if user_signed_in? %>
      <%= link_to 'Новый проект', new_post_path, class: 'btn btn-primary' %>
>>>>>>> design
    <% end %>
  </div> 

<section id='projects'>
  <%= render @projects %>
</section>
