<p id="notice"><%= notice %></p>

<p>
  <strong>Level:</strong>
  <%= @project.level %>
</p>

<p>
  <strong>Group:</strong>
  <%= @project.group_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<div>
  <p>
    <strong>Cover:</strong>
    <%= @project.cover %>
  </p>
  <%= image_tag(@project.workcover_url(:thumb).to_s) %>
</div>

<div>
  <p>
    <strong>Project:</strong>
    <%= @project.work %>
  </p>
  <%= image_tag(@project.work_url(:thumb).to_s) %>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
