<p id="notice"><%= notice %></p>

<p>
  <strong>Level:</strong>
  <%= @project.level %>
</p>

<p>
  <strong>Group:</strong>
  <%= @project.group_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Cover:</strong>
  <%= @project.cover %>
</p>

<div>
  <%= image_tag(@project.work_url.to_s) %>
</div>

<div>
  <%= image_tag(@project.projectcover_url.to_s) %>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
