<%= form_for @post do |form| %>
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit 'Сохранить статью', class: 'btn btn-dark btn-lg' %>
    <%= link_to 'Все статьи', :back, class: 'btn btn-light btn-lg' %>
  </div>
<% end %>
