<article class="post">
  <section class="post-head">
   <h2><%= link_to post.title, post_path(post) %></h2>
   <section class= "post-description">
     <p><%= post.description %></p>
   </section>

   <small>
     <time><%= post.created_at.to_date.strftime("%d %B %Y") %></time>
    <%= link_to 'Редактировать', edit_post_path(post) %>
    <%= link_to 'Удалить', post, method: :delete, data: { confirm: 'Уверены?' } %>
    </small>

  </section>
  </article>
