<p id="notice"><%= notice %></p>


<h2>
  <strong>Заголовок:</strong>
  <%= @post.title %>
</h2>

<p>
<<<<<<< HEAD
  <strong>Description:</strong>
  <%= @post.description %>
=======
  <strong>Текст:</strong>
  <%= @post.body %>
>>>>>>> design
</p>

<%= link_to 'Редактировать', edit_post_path(@post) %> |
<%= link_to 'Все статьи', posts_path %>
