<%= form_with(model: projectportfolio, local: true) do |form| %>
  <% if projectportfolio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(projectportfolio.errors.count, "error") %> prohibited this projectportfolio from being saved:</h2>

      <ul>
      <% projectportfolio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= form.label :level %>

      <%= form.select(:level) do %>
        <% [['1', 1], ['2', 2], ['3', 3], ['4', 4] ].each do |c| -%>
          <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>
    </div>

    <div class="field">
      <%= form.label :group_id %>
      <%= select("project", "group_id", Group.all.collect { |p| [ p.name, p.id] }, { include_blank: true }) %>
      <!-- <%= form.select(:group_id) do %>
        <% [['Новая кровь', 1], ['Третий отряд', 2], ['Ночь нежна', 3], ['Поток 2020', 4] ].each do |c| -%>
          <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %> -->
    </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class=”field”>
   <%= form.label :workportfolio %>
   <%= form.file_field :workportfolio %>
  </div>

  <div class=”field”>
   <%= form.label :link %>
   <%= form.text_field :link %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
