<%= form_with(model: projectbehance, local: true) do |form| %>
  <% if projectbehance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(projectbehance.errors.count, "error") %> prohibited this projectbehance from being saved:</h2>

      <ul>
      <% projectbehance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :level %>
    <%= form.number_field :level %>
  </div>

  <div class="field">
    <%= form.label :group_id %>
    <%= form.number_field :group_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class=”field”>
   <%= form.label :workbehance %>
   <%= form.file_field :workbehance %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
