<p id="notice"><%= notice %></p>

<p>
  <strong>Level:</strong>
  <%= @projectbehance.level %>
</p>

<p>
  <strong>Group:</strong>
  <%= @projectbehance.group_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @projectbehance.name %>
</p>

<p>
  <strong>Cover:</strong>
  <div>
   <%= image_tag(@project.workbehance.to_s) %>
  </div>
</p>

<%= link_to 'Edit', edit_projectbehance_path(@projectbehance) %> |
<%= link_to 'Back', projectbehances_path %>
